<!DOCTYPE html>
<html>
    <%- include('../layout/header'); -%>
  <body>
    <%- include('../layout/header'); -%>
    <div class="kotak ">
      <h1> Register </h1>
      <hr>
      <div class="form-input">
        <input type="text" placeholder="Username" class="user">
        <input type="text" placeholder="Email" class="user">
        <input type="text" placeholder="Password" class="user">
      </div>
      <div class="form-button">
        <button type="submit" class="tombol">Daftar</button>
      </div>

    </div>
     
  </body>
</html>